/* CSS Document */
html, body {
	margin:0;
	padding:0;
	background:#fff;
	font-family:'Oswald', sans-serif;
}
.clr {
	margin:0;
	padding:0;
	clear:both;
}
/* Global Classes starts */
* {
	outline:none;
}
div, form, P {
	margin:0px;
	padding:0px;
}
A IMG /* This Class will disble border over any link on images*/ {
	border:none;
	outline:none
}
a {
	text-decoration:underline;
	color:#A2A2A2;
}
a:hover {
	text-decoration:none;
	color:#596163;
}
p {
	color:#596163;
	padding:5px 0px 5px 0px;
	margin:5px 0px 5px 0px;
}
p a {
	text-decoration:underline;
	color:#A2A2A2;
}
p a:hover {
	text-decoration:none;
	color:#596163;
}
UL {
	/* Controls NORMAL UL */
	margin:0 0 0 15px;
	padding:0 0 0 0;
	list-style-type:none;
	color:#596163;
}
UL LI {
	/* Controls NORMAL li inside UL */
	margin:0 0 3px 0;
	padding:0 0 0 12px;
}
UL strong {
	font-size:15px;
}
OL {
	/* Controls NORMAL OL */
	margin:0 0 0 28px;
	padding:0 0 0 0;
	list-style-type:decimal;
}
OL LI {
	/* Controls NORMAL li inside OL */
	text-decoration:underline;
	color:#000000;
}
OL LI A, LI A, OL A {
	/* Controls LINKS inside OL */
	text-decoration:underline;
	color:#000000;
}
OL A:HOVER {
	/* Controls LINKS HOVER inside OL */
	text-decoration:none;
	color:#363636;
}
UL A {
	/* Controls LINKS inside UL */
	text-decoration:underline;
	color:#A2A2A2;
}
UL A:HOVER {
	/* Controls LINKS HOVER inside UL */
	text-decoration:none;
	color:#363636;
}
/* Global Classes ends */

#parent {
	margin:0px auto;
	padding:0px;
	width:1000px;
}
/* index-page-start */

#header_section {
	width:100%;
	margin:0px;
	padding:0px;
}
.header {
	width:960px;
	margin:0px auto;
	padding:5px 0px 5px 0px;
}
.logo {
	width:175px;
	margin:0px;
	padding:0px;
	float:left;
}
.top_menu {
	margin:0px;
	padding:0px;
	float:right;
}
.top_menu ul {
	margin:20px 0px 0px 0px;
	padding:0px;
	font-family: 'Oswald', sans-serif;
	color:#e4201f;
	list-style-type:none;
	font-weight:normal;
	text-transform:uppercase;
}
.top_menu ul li {
	margin:0px;
	padding:0px 0px 0px 35px;
	float:left;
	font-size:16px;
}
.top_menu ul li a {
	margin:0px;
	padding:0px;
	color:#e4201f;
	text-decoration:none;
}
.top_menu ul li a:hover, .top_menu ul li.current_page_item a {
	margin:0px;
	padding:0px 0px 15px 0px;
	color:#D01817;
	border-bottom:3px solid #e4201f;
}
/*.banner {
	margin:0px;
	padding:0px;
}
.banner img {
	width:100%;
	height:725px;
	margin:0px;
	padding:0px;
}
.banner_insert {
	width:100%;
	margin:0px auto;
	padding:0px;
	position:absolute;
}
.banner_slider {
	width:960px;
	margin:0 auto;
	padding:5px 0 0;
}
.banner_text {
	width:745px;
	margin:30px auto 0;
	padding:0px;
	text-align:center;
	position:absolute;
}*/
.banner_text {
	text-align:center;	
}
.banner_text h3 {
	width:565px !important;
	/*margin:0px 0px 0px 89px !important;*/
	margin:0 auto !important;
	padding:10px 0px !important;
	/*background:url(images/banner_title_bg.png) left top repeat-x !important;*/
	background:#E3201E !important;
	text-align:center !important;
	font-family: 'Oswald', sans-serif !important;
	color:#fff !important;
	font-size:40px !important;
	border-bottom:2px solid #f80f05 !important;
	text-transform:uppercase !important;
	font-weight:normal !important;
}
.banner_text h4 {
	width:745px !important;
	margin:0px auto !important;
	padding:10px 0px !important;
	/*background:url(images/banner_title_bg.png) left top repeat-x !important;*/
	background:#E3201E !important;
	text-align:center !important;
	font-family: 'Oswald', sans-serif !important;
	color:#fff !important;
	font-size:25px !important;
	text-transform:uppercase !important;
	font-weight:normal !important;
}
.banner_text img {
	width:122px;
	height:123px;
	margin:35px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.contact_bar {
	width:100%;
	margin:0px 0px 0px 0px;
	padding:20px 0px 20px 0px;
	background:#535151;
	border-bottom:10px solid #d1ccc8;
}
.contact_info {
	width:960px;
	margin:0px auto;
	padding:20px 0px 20px 0px;
}
.welcome_left {
	width:485px;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
}
.welcome_left h3 {
	margin:0px 0px 10px 0px;
	padding:0px 0px 0px 0px;
	font-family: 'Oswald', sans-serif;
	color:#fff;
	font-size:22px;
	text-transform:uppercase;
	font-weight:normal;
}
.welcome_left p {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-family: 'Open Sans', sans-serif;
	color:#fff;
	font-size:14px;
	font-weight:normal;
	line-height:25px;
}
.welcome_right {
	width:340px;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:right;
}
.home_contact {
	width:335px;
	margin:0px 0px 0px 0px;
	padding:30px 0px 29px 0px;
	font-family: 'Oswald', sans-serif;
	text-align:center;
	color:#fff;
	font-size:36px;
	font-weight:normal;
	text-transform:uppercase;
	border-radius:5px;
	border:none;
	/*background:url(images/contactbtn.png)left top repeat;*/
	background:#E3201E;
}
.home_contact a, .home_contact a:hover {
	color:#fff;
	text-decoration:none;
}
.home_contact:hover {
	background:#db0505;
	cursor:pointer;
}
.container_section {
	width:100%;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.container {
	width:960px;
	margin:0px auto;
	padding:40px 0px 40px 0px;
}
.Commercials_info {
	width:208px;
	margin:0px 40px 0px 0px;
	padding:25px 0px 25px 0px;
	text-align:center;
	font-family: 'Oswald', sans-serif;
	border:1px solid #ff0000;
	float:left;
	min-height:400px;
}
.star {
	height:95px;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.Commercials_info h3 {
	margin:30px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	color:#ff1d19;
	font-size:16px;
	text-transform:uppercase;
	font-weight:normal;
}
.Commercials_info h3 a {
	color:#ff1d19;
	text-decoration:none;
}
.Commercials_info h3 a:hover {
	color:#D01817;
	text-decoration:none;
}
.spacer {
	margin:20px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.Commercials_info p {
	margin:10px 0px 0px 0px;
	padding:0px 18px 0px 15px;
	color:#6e6d6d;
	text-align:left;
	font-size:13px;
	font-weight:normal;
	line-height:22px;
}
.Commercials_last {
	width:208px;
	margin:0px 0px 0px 0px;
	padding:25px 0px 25px 0px;
	text-align:center;
	font-family: 'Oswald', sans-serif;
	border:1px solid #ff0000;
	float:right;
	min-height:400px;
}
.Commercials_last p {
	margin:10px 0px 0px 0px;
	padding:0px 18px 0px 15px;
	color:#6e6d6d;
	text-align:left;
	font-size:13px;
	font-weight:normal;
	line-height:22px;
}
.Commercials_last h3 {
	margin:30px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	color:#ff1d19;
	font-size:16px;
	text-transform:uppercase;
	font-weight:normal;
}
.Commercials_last h3 a {
	color:#ff1d19;
	text-decoration:none;
}
.Commercials_last h3 a:hover {
	color:#D01817;
	text-decoration:none;
}
#footer_section {
	width:100%;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.footer_slider {
	width:100%;
	margin:40px 0px 0px 0px;
	padding:20px 0px 20px 0px;
	background:url(images/bottombg.jpg) left top repeat;
}
.info_slider {
	width:100%;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	background:#fff;
}
.footer_portfolio {
	width:960px;
	margin:0px auto;
	padding:20px 0px 20px 0px;
}
.footer_portfolio img {
	margin:0px 0px 0px 0px;
	padding:0px 7px 0px 8px;
	vertical-align:middle;
}
.footer_menu {
	width:960px;
	margin:0px auto;
	padding:20px 0px 20px 0px;
}
.footer_logo {
	width:160px;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
}
.footer_nav {
	margin:0px 0px 0px 0px;
	padding:0px 0px 15px 0px;
	float:right;
	border-bottom:1px solid #c5c5c5;
}
.footer_nav ul {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-family: 'Oswald', sans-serif;
	color:#5c5454;
	list-style-type:none;
	font-weight:normal;
	text-transform:uppercase;
}
.footer_nav ul li {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 20px;
	float:left;
	font-size:12px;
}
.footer_nav ul li a {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	text-decoration:none;
	color:#5c5454;
}
.footer_nav ul li a:hover {
	color:#c40002;
}
.copyrights {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	text-align:right;
	font-family: 'Oswald', sans-serif;
	color:#5c5454;
	list-style-type:none;
	font-weight:normal;
	font-size:12px;
}
/* index-page-closed */



/* about-page-start */
.banner_inner {
	margin:0px
	padding:0px;
}
.banner_inner img {
	width:100%;
	height:281px;
	margin:0px;
	padding:0px;
}
.inner_heading {
	width:265px;
	height: 450px;
	margin:100px 0px 0px 0px;
	padding:20px 0px 20px 0px;
	background:url(images/banner_title_bg.png) left top repeat-x;
	font-family: 'Oswald', sans-serif;
	text-align:center;
	position:absolute;
	text-transform:uppercase;
	font-size:40px;
	color:#fff;
	font-weight:normal;
}
.about_red {
	width:600px;
	margin:0px;
	padding:0px;
	float:left;
}
.about_red h3 {
	margin:0px;
	padding:0px;
	font-family: 'Oswald', sans-serif;
	text-transform:uppercase;
	font-size:22px;
	color:#332b2b;
	font-weight:normal;
}
.about_red p {
	margin:0px;
	padding:5px 0 10px;
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
	color:#332b2b;
	font-weight:normal;
	line-height:22px;
}
.about_red h4 {
	margin:0px;
	padding:0px 0px 10px 0px;
	font-family: 'Oswald', sans-serif;
	text-transform:uppercase;
	font-size:22px;
	color:#332b2b;
	font-weight:normal;
	border-bottom:1px solid #dedede;
}
.staff_info {
	width:182px;
	margin:20px 24px 0px 0px;
	padding:0px;
	text-align:center;
	float:left;
}
.staff_info h4 {
	margin:0px;
	padding:10px 0px 10px 0px;
	font-family: 'Oswald', sans-serif;
	text-transform:uppercase;
	font-size:18px;
	color:#ff1d19;
	font-weight:normal;
	border-bottom:1px solid #ff0000;
}
.staff_info p {
	margin:0px;
	padding:5px 0 10px;
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
	color:#332b2b;
	font-weight:normal;
	line-height:22px;
	text-align:left;
}
.staff_infolast {
	width:182px;
	margin:20px 0px 0px 0px;
	padding:0px;
	text-align:center;
	float:right;
}
.staff_infolast p {
	margin:0px;
	padding:10px 5px 10px 0px;
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
	color:#332b2b;
	font-weight:normal;
	line-height:22px;
	text-align:left;
}
.staff_infolast h4 {
	margin:0px;
	padding:10px 0px 10px 0px;
	font-family: 'Oswald', sans-serif;
	text-transform:uppercase;
	font-size:18px;
	color:#ff1d19;
	font-weight:normal;
	border-bottom:1px solid #ff0000;
}
.enquiry_form {
	width:285px;
	margin:0px;
	padding:0px;
	float:right;
}
.enquiry_form h3 {
	margin:0px 0px 10px 0px;
	padding:5px 0px 5px 0px;
	background:#ff0000;
	text-align:center;
	font-family: 'Oswald', sans-serif;
	text-transform:uppercase;
	font-size:16px;
	color:#fff;
	font-weight:normal;
}
.enquiry_info {
	width:269px;
	margin:0px 0px 5px 0px;
	padding:6px 5px 6px 5px;
	font-family: 'Open Sans', sans-serif;
	font-size:11px;
	color:#332b2b;
	font-weight:normal;
	border:3px solid #edecec;
}
.enquiry_msg {
	width:269px;
	height:135px;
	margin:0px 0px 5px 0px;
	padding:6px 5px 6px 5px;
	font-family: 'Open Sans', sans-serif;
	font-size:11px;
	color:#332b2b;
	font-weight:normal;
	border:3px solid #edecec;
}
.enquiry_button {
	width:95px;
	margin:8px 0px 0px 190px;
	padding:5px 0px 5px 0px;
	font-family: 'Oswald', sans-serif;
	text-align:center;
	color:#fff;
	font-size:14px;
	font-weight:normal;
	text-transform:uppercase;
	background:#ff0000;
	border-top:1px solid #ff0000;
	border-left:1px solid #ff0000;
	border-right:1px solid #ff0000;
	border-bottom:4px solid #740101;
}
.enquiry_button:hover {
	background:#c90101;
	border-top:1px solid #c90101;
	border-left:1px solid #c90101;
	border-right:1px solid #c90101;
	border-bottom:4px solid #740101;
	cursor:pointer;
}
/* about-page-closed */



/* services-page-start */

.offer_left {
	width:60px;
	margin:40px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
}
.offer_left h3 {
	margin:0px 0px 0px 0px;
	padding:10px;
	font-family: 'Oswald', sans-serif;
	background:#ff0000;
	color:#fff;
	font-size:26px;
	font-weight:normal;
	text-align:center;
	text-transform:uppercase;
	border-radius:50px;
}
.offer_right {
	width:520px;
	margin:0px 0px 0px 0px;
	padding:40px 0px 0px 0px;
	float:right;
}
.offer_right h5 {
	margin:0px 0px 0px 0px;
	padding:0px 0px 20px 0px;
	font-family: 'Oswald', sans-serif;
	color:#ff1d19;
	font-size:18px;
	font-weight:normal;
	text-transform:uppercase;
	border-bottom:3px solid #ff0000;
}
.offer_right p {
	margin:15px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
	color:#332b2b;
	font-weight:normal;
	line-height:22px;
}
.question_left {
	width:60px;
	margin:0px 0px 0px 0px;
	padding:40px 0px 0px 0px;
	float:left;
}
.question_left h3 {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-family: 'Oswald', sans-serif;
	color:#ff1d19;
	font-size:40px;
	font-weight:normal;
	text-align:right;
}
.question_right {
	width:520px;
	margin:0px 0px 0px 0px;
	padding:40px 0px 0px 0px;
	float:right;
}
.question_right h5 {
	margin:8px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-family: 'Oswald', sans-serif;
	color:#ff1d19;
	font-size:18px;
	font-weight:normal;
}
.answer_block {
	margin:15px 0px 0px 0px;
	padding:10px 20px 10px 20px;
	background:#ededed;
	border-radius:5px;
}
.answer_block p {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
	color:#332b2b;
	font-weight:normal;
	line-height:20px;
}
/* services-page-closed */



/* testimonial-page-start */

.testimonial_block {
	margin:0px 0px 20px 0px;
	padding:35px;
	border-radius:6px;
	background:url(images/testibg.png) #fbe5de right bottom no-repeat;
}
.testimonial_block img {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.testimonial_block p {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	color:#332b2b;
	font-weight:normal;
	font-style:italic;
	text-align:center;
	line-height:30px;
}
.testimonial_block h3 {
	margin:8px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-family: 'Oswald', sans-serif;
	color:#ff1d19;
	font-size:18px;
	font-weight:normal;
	text-align:center;
}
.testimonial_block span {
	color:#525252;
	font-size:14px;
	text-transform:uppercase;
}
/* testimonial-page-closed */


.special_block {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.special_block p {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
	color:#332b2b;
	font-weight:normal;
	line-height:30px;
}
.video_block {
	width:876px;
	margin:50px 0px 0px 40px;
	padding:0px 0px 0px 0px;
}
.video_block h3 {
	margin:0px 0px 0px 0px;
	padding:10px 0px 10px 10px;
	font-family: 'Oswald', sans-serif;
	color:#fff;
	font-size:18px;
	font-weight:normal;
	background:#f60c03;
}
.video_block img {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.portfolio_block {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.portfolio_block h4 {
	margin:0px 0px 10px 0px;
	padding:0px 0px 0px 0px;
	font-family: 'Oswald', sans-serif;
	color:#332b2b;
	font-size:24px;
	font-weight:normal;
	text-transform:uppercase;
}
.portfolio_block p {
	margin:0px 0px 10px 0px;
	padding:0px 0px 0px 0px;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	color:#332b2b;
	font-weight:normal;
}
.left_contact {
	width:465px;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
}
.left_contact h4 {
	margin:0px 0px 10px 0px;
	padding:0px 0px 0px 0px;
	font-family: 'Oswald', sans-serif;
	color:#332b2b;
	font-size:24px;
	font-weight:normal;
	text-transform:uppercase;
}
.left_contact p {
	margin:0px 0px 40px 0px;
	padding:0px 0px 0px 0px;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	color:#332b2b;
	font-weight:normal;
	line-height:25px;
}
.left_contact .enquiry_info {
	width:455px;
	margin:0px 0px 5px 0px;
	padding:6px 5px 6px 5px;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	color:#332b2b;
	font-weight:normal;
	border:3px solid #edecec;
}
.left_contact .enquiry_msg {
	width:455px;
	height:135px;
	margin:0px 0px 5px 0px;
	padding:6px 5px 6px 5px;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	color:#332b2b;
	font-weight:normal;
	border:3px solid #edecec;
}
.left_contact .enquiry_button {
	width:95px;
	margin:8px 0px 0px 375px;
	padding:5px 0px 5px 0px;
	font-family: 'Oswald', sans-serif;
	text-align:center;
	color:#fff;
	font-size:14px;
	font-weight:normal;
	text-transform:uppercase;
	background:#ff0000;
	border-top:1px solid #ff0000;
	border-left:1px solid #ff0000;
	border-right:1px solid #ff0000;
	border-bottom:4px solid #740101;
}
.left_contact .enquiry_button:hover {
	background:#c90101;
	border-top:1px solid #c90101;
	border-left:1px solid #c90101;
	border-right:1px solid #c90101;
	border-bottom:4px solid #740101;
	cursor:pointer;
}
.right_contact {
	width:385px;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:right;
}
.right_contact h4 {
	margin:0px 0px 10px 0px;
	padding:0px 0px 0px 0px;
	font-family: 'Oswald', sans-serif;
	color:#332b2b;
	font-size:24px;
	font-weight:normal;
	text-transform:uppercase;
}
.right_contact h3 {
	margin:0px 0px 20px 0px;
	padding:0px 0px 20px 0px;
	font-family: 'Oswald', sans-serif;
	color:#ff0000;
	font-size:24px;
	font-weight:normal;
	text-transform:capitalize;
	border-bottom:1px solid #ff0000;
}
.detail_left {
	width:85px;
	margin:0px 20px 10px 0px;
	padding:3px 5px 5px 0px;
	font-family: 'Oswald', sans-serif;
	color:#fff;
	font-size:13px;
	font-weight:normal;
	text-transform:uppercase;
	background:#ff0000;
	text-align:right;
	float:left;
}
.detail_right {
	width:208px;
	margin:0px 0px 10px 0px;
	padding:0px 0px 0px 0px;
	float:left;
}
.detail_right strong {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
	color:#332b2b;
	font-weight:normal;
}
.detail_right a {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#332b2b;
	font-weight:normal;
	text-decoration:none;
}
.detail_right a:hover {
	color:#ff0000;
	cursor:pointer;
}
.detail_right p {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	color:#332b2b;
	font-weight:normal;
	text-decoration:none;
}
/*Custom CSS - Zilong -*/
.clear {
	clear:both;	
}
.ezcol img {
    height: auto;
    width: 100%;
	margin-bottom:10px;
}
.testimonial-wrap {
    height: 1100px;
    overflow: scroll;
    width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}
.banner_slider {
	width:960px;
	margin:0 auto;
	padding:5px 0 0;
}