/*

Theme Name: Red TV Productions

Author: Mueen

 */


#middle-inner
{
    background: url(images/midd-top.jpg) repeat-x top;
    color: #838383;
    padding-bottom: 40px;
}

#middle-inner .title
{
    clear: both;
    padding: 10px 0px 50px 0px;
}

#middle-inner .title h2
{
    font-size: 20px;
    font-weight: bold;
    color: #454545;
    float: left;
}

#middle-inner .title p
{
    float: right;
    color: #504281;
}

#middle-inner .title p img
{
    float: left;
    margin: 4px 7px 0px 0px;
}

#middle-inner .title p span
{
    color: #454545;
    margin-right: 5px;
    font-size: 16px;
    font-weight: bold;
}


.panel-tab
{
    border-bottom: 1px solid #FFFFFF;
    padding: 0px;
    margin-bottom:5px;
}

.arrowlistmenu .menuheader
{
    color:#727272;
    background: url(images/select.jpg) #DEDEDE no-repeat 12px 10px;
    cursor: pointer;
    height:36px;
    font-size:18px;
    padding:21px 0px 7px 68px;
    display: block;
	font-weight:bold;
}

.arrowlistmenu .openheader
{
    background: url(images/select.jpg) #DEDEDE no-repeat 12px 10px;
    color:#727272;
    padding:21px 0px 7px 68px;
    font-size:18px;
    height:36px;
    cursor: pointer;
    display: block;
	font-weight:bold;
}

.categoryitems{
 padding:0px 10px 8px 65px;
 margin:0px;
 background:#DEDEDE;
}

.categoryitems p{
 padding:0px 0px 18px 0px;
 margin:0px;
 line-height:19px;
}


.top_nav ul ul{

display: none;

float: left;

margin:15px 0px 0px 0px;

padding:0px 0px 0px 0px;

position: absolute;

width:278px !important;

z-index: 99999;

background:#000;

}




.top_nav li:hover > a,

.top_nav ul ul :hover > a,

.top_nav a:focus {

/*background: #efefef;*/

}

.top_nav li:hover > a,



.top_nav ul li:hover > ul {

display: block;

}

.top_nav .current-menu-item > a,

.top_nav .current-menu-ancestor > a,

.top_nav .current_page_item > a,

.top_nav .current_page_ancestor > a {

color:#f28e00;

}




.testimonial_slider__default .testimonial_quote {
background:none !important;
width:990px !important;
margin:0px 0px 20px 0px !important;
padding:0px 8px 2px 8px !important;
}

.testimonial_quote {
	color:#FFF!important;
    font-size:14px !important;
    font-style: italic !important;
    margin: 20px 0 !important;
    text-align: center !important;
	font-family:'Open Sans',Arial,sans-serif !important;
	list-style:35px !important;
	padding:0px 0px 15px 0px !important;
    font-style: italic;
    font-weight: normal;
    line-height: 20px;

}

.testimonial_slider {
line-height:inherit!important;
}

.testimonial_slider__default .testimonial_by_wrap {
margin:0px auto !important;
width:980px !important;
float:none!important;
padding:10px  0px 0px 0px!important;
text-align:center;
}
.testimonial_slider__default .testimonial_by_wrap span {
color:#FFF !important;
font-size:25px !important;
text-align: center !important;
margin:0px !important;
padding:0px !important;
font-family: 'Open Sans',sans-serif!important;
}

.testimonial_slider__default .testimonial_by_wrap span.testimonial_avatar {
float:left !important;
width:90px !important;
display:none !important;
}

.testimonial_slider__default a.testimonial_next, .testimonial_slider__default a.testimonial_prev {
display:none !important;
}


.testimonial_by{
padding:0px 5px 0px 5px!important;
color:#eaeaea !important;
font-size:16px !important;
text-align: center !important;
color:#fff !important;
font-weight:bold !important;
font-family: 'Open Sans', sans-serif !important;
}

.testimonial_slider__default .testimonial_by_wrap span.testimonial_site{
color:#F28E00 !important;
font-size:18px !important;
font-family: 'Open Sans',sans-serif; !important;
padding:15px 5px 10px 5px!important;
}

#testimonial_slider_recent_wrap {
width:990px!important;
margin:0px !important;
}

.testimonial_slider__default .testimonial_by_wrap span {
}

/**********Right Testimonials**********/



.inner_testimonial .testimonial_slider__default .testimonial_quote {
background:none !important;
width:300px !important;
margin:0px 0px 20px 10px !important;
padding:0px 8px 2px 8px !important;
}

.inner_testimonial .testimonial_quote {
	color:#FFF!important;
    font-size:14px !important;
    font-style: italic !important;
    margin: 20px 0 !important;
    text-align: center !important;
	font-family:'Open Sans',Arial,sans-serif !important;
	list-style:35px !important;
	padding:0px 0px 15px 0px !important;
    font-style: italic;
    font-weight: normal;
    line-height: 20px;

}

.inner_testimonial .testimonial_slider {
line-height:inherit!important;
}

.inner_testimonial .testimonial_slider__default .testimonial_by_wrap {
margin:0px auto !important;
width:280px !important;
float:none!important;
padding:10px  0px 0px 10px!important;
text-align:center;
}

.inner_testimonial .testimonial_slider__default .testimonial_by_wrap span {
color:#FFF !important;
font-size:20px !important;
text-align: center !important;
margin:0px !important;
padding:0px !important;
}

.inner_testimonial .testimonial_slider__default .testimonial_by_wrap span.testimonial_avatar {
float:left !important;
width:90px !important;
display:none !important;
}

.inner_testimonial .testimonial_slider__default a.testimonial_next, .inner_testimonial .testimonial_slider__default a.testimonial_prev {
}

.inner_testimonial .testimonial_by{
padding:0px 5px 0px 5px!important;
color:#F28E00 !important;
font-size:20px !important;
text-align: center !important;
color:#fff !important;
font-weight:bold !important;
font-family: 'Open Sans', sans-serif !important;
}

.inner_testimonial .testimonial_slider__default .testimonial_by_wrap span.testimonial_site{
color:#F28E00 !important;
font-size:18px !important;
font-family: 'Open Sans',sans-serif; !important;
padding:10px 5px 0px 5px!important;
}

.inner_testimonial  #testimonial_slider_recent_wrap {
width:300px!important;
margin:0px !important;
}

.inner_testimonial .testimonial_slider__default .testimonial_by_wrap span {
}


span.wpcf7-not-valid-tip, div.wpcf7-validation-errors{
font-size:12px !important;
}


.inner_heading {
    width: 355px;
    height: 500px
    margin: 100px 0px 0px;
    padding: 20px 0px;
    background: url('images/banner_title_bg.png') repeat-x scroll left top transparent;
    font-family: "Open Sans",sans-serif;
    text-align: center;
    position: absolute;
    text-transform: uppercase;
    font-size: 35px !important;
    color: #FFF;
    font-weight: normal;
}