@charset "utf-8";
/* CSS Document */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
body {
	line-height:1;
	font-family: 'Open Sans', sans-serif;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content:none;
}
* {
	outline:none;
}
h1 {
	margin:0px;
	padding:0px;
	font-family: 'Oswald', sans-serif;
	font-size:42px;
}
h2 {
	margin:10px 0px 10px 0px;
	padding:0px 0px 0px 0px;
	font-family: 'Anton', sans-serif;
	font-size:29px;
	text-transform:uppercase;
}
h3 {
	margin:10px 0px 10px 0px;
	padding:0px 0px 0px 0px;
	font-family: 'Open Sans', sans-serif;
}
p {
	margin:10px 0px 10px 0px;
	padding:0px 0px 0px 0px;
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
	color:#121212;
	line-height:22px;
}
a {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
/* change colours to suit your needs */
ins {
	background-color:#ff9;
	color:#000;
	text-decoration:none;
}
/* change colours to suit your needs */
mark {
	background-color:#ff9;
	color:#000;
	font-style:italic;
	font-weight:bold;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom:1px dotted;
	cursor:help;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
/* change border colour to suit your needs */
hr {
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #cccccc;
	margin:1em 0;
	padding:0;
}
input, select {
	vertical-align:middle;
}
/*.........................................Index Page...................................*/

#header_wrapper {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	border-top:solid 8px #000;
}
.header_container {
	margin:0px auto;
	padding:10px 0px 0px 0px;
	width:960px;
}
.logo {
	margin:0px 0px 0px 0px;
	padding:0px 0px 10px 0px;
	float:left;
}
.header_right {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:right;
}
.header_right P {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-family: 'Open Sans', sans-serif;
	font-size:36px;
	color:#f28e00;
	font-weight:bold;
	text-shadow:1px 5px 4px #cbcbcb;
}
.header_right span {
	margin:0px 16px 0px 0px;
	padding:6px 0px 10px 3px;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#f28e00;
	display:inline-block;
	background:url(../images/call_us_img.png) left top no-repeat;
}
.banner_right h5 {
	margin:-10px 0px 0px -2px;
	padding:0px 0px 0px 0px;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#393939;
	font-weight:bold;
	text-shadow:2px 2px 2px 2px #cacaca;
	position:absolute;
	z-index:1000000;
}
.header_right h5 {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#393939;
	font-weight:bold;
	text-shadow:2px 2px 2px 2px #cacaca;
}
.banner_right h5 a, .header_right h5 a {
	margin:0px;
	padding:0px 0px 0px 0px;
	text-decoration:none;
	color:#393939;
}
.banner_right h5 a:hover, .header_right h5 a:hover {
	text-decoration:none;
	color:#CF0B0B;
}
.clear {
	clear:both;
}
.top_nav {
	margin:9px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	background:#111111;
}
.top_nav ul {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.top_nav ul li {
	margin:0px 0px 0px 0px;
	padding:15px 0px 15px 0px;
	list-style:none;
	float:left;
	background:url(../images/li_bg.png) right top no-repeat;
}
.top_nav ul li ul li {
	margin:0px 0px 0px 0px;
	padding:17px 0px 17px 0px;
	list-style:none;
	float:left;
	display:block;
	background:none;
	border-bottom:1px solid #363636;
	width:278px;
}
.top_nav ul li a {
	margin:0px 0px 0px 0px;
	padding:0px 40px 0px 40px;
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#FFFFFF;
	text-transform:uppercase;
}
.top_nav ul li ul li a {
	margin:0px 0px 0px 0px;
	padding:0px 10px 0px 10px;
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#FFFFFF;
	text-transform:uppercase;
}
.top_nav ul li a:hover {
	color:#f28e00;
}
.top_nav ul li ul li a:hover {
	color:#f28e00;
}
#banner_wrapper {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	background:url(../images/banner_bg.png) left top repeat-x;
}
.banner_container {
	margin:0px auto;
	padding:0px 0px 0px 0px;
	width:960px;
}
.homebanner01 {
	margin:13px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	box-shadow:0px 5px 11px 0px #b3b3b3;
}
.banner_lay {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	position:absolute;
}
.banner_content {
	margin:0px auto;
	padding:0px;
	width:960px;
}
.banner_left {
	margin:-10px 0px 0px 0px !important;
	padding:0px 0px 0px 0px !important;
	float:left;
	width:450px;
	background:transparent !important;
}
.banner_left h1 {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-family: 'Oswald', sans-serif;
	font-size:58px !important;
	text-transform:uppercase;
	font-weight:bold;
	line-height:50px !important;
}
.banner_left h2 {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-family: 'Oswald', sans-serif;
	font-size:40px;
	text-transform:uppercase;
	line-height:60px;
}
.banner_left span {
	color:#f28e00;
}
.banner_right {
	margin:-84px -93px 0px 0px;
	padding:0px 0px 0px 0px;
	float:right;
	width:400px;
}
.banner_right img {
	margin:-48px 0px 0px -36px;
	padding:0px 0px 0px 0px;
	position:absolute;
	z-index:10000;
}
#main {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.main_container {
	margin:40px auto 0px auto;
	padding:0px 0px 0px 0px;
	width:960px;
}
.left_section {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
	width:595px;
}
.left_section h2 {
	font-family: 'Oswald', sans-serif;
	padding:0px 0px 10px 0px;
}
.left_section p {
	margin:0px 0px 20px 0px;
	padding:0px 0px 0px 0px;
}
.services {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.services h3 {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-size:18px;
	font-weight:bold;
}
.services ul {
	margin:0px 0px 0px 20px;
	padding:0px 0px 0px 0px;
}
.services ul li {
	margin:0px 0px 0px 0px;
	padding:8px 0px 0px 35px;
	list-style:none;
	font-size:18px;
	font-weight:bold;
	line-height:28px;
	font-family: 'Open Sans', sans-serif;
	background:url(../images/list_img.png) left 12px no-repeat;
}
.services ul li a {
	color:#000;
	text-decoration:none;
}
.services ul li a:hover {
	color:#F28E00;
	text-decoration:none;
}
.right_section {
	margin:60px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:right;
	width:340px;
}
.contact_form {
	margin:0px 0px 15px 0px;
	padding:70px 0px 0px 0px;
	background:url(../images/contact_bg.png) left top repeat;
}
.circle {
	margin:-95px 0px 0px 10px;
	padding:26px 0px 40px 0px;
	font-family: 'Anton', sans-serif;
	font-size:20px;
	text-align:center;
	width:95px;
	color:#FFF;
	background:url(../images/circle.png) left top no-repeat;
}
.input_area {
	margin:8px 0px 0px 29px;
	padding:11px 0px 11px 6px;
	width:275px;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
}
.select_area {
	margin:8px 0px 0px 29px;
	padding:11px 0px 11px 6px;
	width:283px;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
}
.btn {
	margin:15px 28px 24px 0px;
	padding:10px 34px 10px 34px;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
	color:#FFF;
	background:#000000;
	border:none;
	float:right;
}
.btn:hover {
	cursor:pointer;
	color:#f28e00;
}
.testimonials {
	margin:47px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	background:#000000;
}
.testimonial_area {
	margin:0 auto;
	padding:0px 0px 32px 0px;
	width:985px;
	text-align:center;
	background:url(../images/right_img.png) right 195px no-repeat;
}
.testimonial_area h2 {
	margin:0px 0px 0px 0px;
	padding:50px 0px 15px 0px;
	font-family: 'Open Sans', sans-serif;
	color:#f28e00;
	font-weight:bold;
	font-style:italic;
	font-size:30px;
	text-transform:capitalize;
}
.testimonial_area p {
	margin:0px 0px 20px 0px;
	padding:0px 60px 0px 60px;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#FFFFFF;
}
.testimonial_area h3 {
	margin:0px 0px 10px 0px;
	padding:0px 0px 0px 0px;
	color:#FFF;
	font-family: 'Open Sans', sans-serif;
	font-size:25px;
	font-weight:normal;
}
.testimonial_area h4 {
	margin:0px 0px 0px 0px;
	padding:0px 0px 35px 0px;
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	color:#f28e00;
	font-weight:normal;
}
.left_img {
	margin:30px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.right_img {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.bottom_images {
	margin:0 auto;
	padding:22px 0px 22px 0px;
	width:960px;
	text-align:center;
}
.left_image {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	width:450px;
	float:right;
}
.right_image {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	width:490px;
	float:left;
}
#footer {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	border-top:solid 1px #000;
}
#footer_inner {
	margin:59px 0px 36px 0px;
	padding:0px 0px 0px 0px;
	border-top:solid 1px #b6bbbe;
}
.footer_wrapper {
	margin:0 auto;
	padding:0px;
	width:985px;
}
.footer_left {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
}
.footer_left img {
	margin:35px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.footer_right {
	margin:0px 0px 27px 0px;
	padding:0px 0px 0px 0px;
	float:right;
}
.footer_right ul {
	margin:43px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	border-bottom:solid 1px #000;
}
.footer_right ul li {
	margin:10px 0px 10px 0px;
	padding:0px 0px 0px 0px;
	list-style-type:none;
	display:inline-block;
}
.footer_right ul li a {
	margin:0px 0px 0px 0px;
	padding:0px 10px 0px 10px;
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
	color:#313631;
	text-transform:uppercase;
	text-decoration:none;
	font-weight:bold;
}
.footer_right ul li a:hover {
	color:#f28e00;
}
.footer_right p {
	margin:0px 0px 0px 0px;
	padding:0px 10px 0px 10px;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	color:#313631;
	text-transform:capitalize;
	font-weight:bold;
	text-align:right;
}
/*................................Services Page...............................*/

.main_img {
	margin:20px 0px 20px 0px;
	padding:0px 0px 0px 0px;
}
.main_img img {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.main_heading {
	text-transform:capitalize;
}
.left_section h4 {
	margin:0px 0px 0px 0px;
	padding:10px 0px 0px 0px;
	font-family: 'Oswald', sans-serif;
	font-size:15px;
	color:#f28e00;
}
.img_top {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.services_list {
	margin:46px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.services_list h3 {
	margin:0px 0px 0px 0px;
	padding:0px 0px 20px 35px;
	background:url(../images/services_list_img.png) left top no-repeat;
}
.services_list p {
	margin:0px 0px 25px 32px;
	padding:0px 0px 0px 0px;
}
.inner_right {
	margin:0px 0px 0px 0px;
	padding:42px 0px 0px 0px;
}
.inner_testimonial {
	margin:0px 0px 0px 0px;
	padding:0px 0px 20px 0px;
	text-align:center;
	background:url(../images/right_inner.png) #000000 290px bottom no-repeat;
}
.inner_img_left {
	margin:30px 0px 0px 20px;
	padding:0px 0px 0px 0px;
}
.inner_img_right {
	margin:0px 0px 0px 0px;
	padding:0px 30px 0px 0px;
}
.inner_testimonial h3 {
	margin:0px 25px 0px 0px;
	padding:30px 30px 28px 0px;
	color:#f28e00;
	font-size:22px;
	font-style:italic;
}
.inner_testimonial p {
	margin:0px 0px 0px 0px;
	padding:0px 60px 0px 60px;
	color:#FFFFFF;
}
.inner_testimonial h4 {
	margin:0px 0px 0px 66px;
	padding:17px 0px 10px 0px;
	color:#FFFFFF;
	font-size:20px;
}
.inner_testimonial h5 {
	margin:0px 0px 0px 0px;
	padding:0px 0px 20px 0px;
	color:#f28e00;
}
.arrow {
	margin:0px 0px 0px 0px;
	padding:10px 20px 30px 20px;
	background:#979696;
}
/*........................................about us page................................*/
		
.top_txt {
	margin-top:48px !important;
	padding:0px 8px 0px 0px !important;
}
.middle_heading {
	margin:70px 0px 30px 0px;
	padding:0px 0px 0px 0px;
}
.our_staff {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.our_staff img {
	margin:0px 25px 0px 0px;
	padding:0px 0px 0px 0px;
	border:solid 1px #d1d1d1;
}
.left_area {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:left;
	width:468px;
}
.right_area {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	float:right;
	width:400px;
}
.contact_heading {
	text-transform:uppercase;
	font-family: 'Oswald', sans-serif;
	font-size:26px;
}
.input_class {
	margin:10px 0px 0px 0px;
	padding:9px 0px 9px 6px;
	width:460px;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	border:solid 3px #e8e8e8;
	color:#000;
}
.select_txt {
	margin:10px 0px 10px 0px;
	padding:9px 0px 9px 6px;
	width:472px;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	border:solid 3px #e8e8e8;
}
.txt_area {
	margin:0px 0px 0px 0px;
	padding:6px 0px 0px 6px;
	width:460px;
	height:273px;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	border:solid 3px #e8e8e8;
}
.btn_class {
	margin:10px -4px 0px 0px;
	padding:12px 32px 12px 32px;
	background:#000;
	float:right;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#FFF;
	text-decoration:none;
	font-weight:bold;
}
.btn_class:hover {
	color:#f28e00;
}
.right_area h3 {
	margin:20px 0px 0px 0px;
	padding:0px 0px 20px 0px;
	text-transform:capitalize;
	font-family: 'Oswald', sans-serif;
	font-size:26px;
	color:#f28e00;
	border-bottom:solid 1px #000;
}
.contact_details {
	margin:18px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.contact_details a {
	color:#040404;
}
.contact_details a:hover {
	color:#F28E00;
	text-decoration:none;
}
.contact_details p {
	margin:0px 0px 10px 0px;
	padding:0px 0px 0px 0px;
	color:#040404;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
}
.contact_details span {
	margin:0px 20px 0px 0px;
	padding:2px 12px 5px 12px;
	color:#FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	background:#000;
}
.tp-caption.big_black {
	background:transparent !important;
}